@model Playground.Model.TeamPlayer

@{
    ViewBag.Title = "AddPlayer";
}

<h2>Add Player to team @Html.DisplayFor(model => model.Team.Name)   </h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        @Html.HiddenFor(model => model.TeamID)
    <fieldset>
        <legend>TeamPlayer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Player)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PlayerID, (List<SelectListItem>)ViewBag.AvailablePlayers)
            @Html.ValidationMessageFor(model => model.PlayerID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
