@model Playground.Model.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Team</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator.FirstName)
        @Html.DisplayFor(model => model.Creator.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Game)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Game.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PictureSource)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PictureSource)
    </div>
</fieldset>

<table>
    <tr>
        <th>
            Player
        </th>
        <th></th>
    </tr>
@foreach (var item in Model.Players)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.Name) (@Html.DisplayFor(modelItem => item.Player.User.FirstName) @Html.DisplayFor(modelItem => item.Player.User.LastName))
        </td>
        <td>
            @Html.ActionLink("Remove", "RemovePlayer", new { teamID=item.TeamID, playerID = item.PlayerID})
        </td>
    </tr>    
}
</table>

<p>
    @Html.ActionLink("Add player", "AddPlayer", new { teamID=Model.CompetitorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
