@model IEnumerable<Playground.Model.Competitor>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game)
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureSource)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @if (item is Playground.Model.Player)
            {
                <span>Player</span>
            }
            else {
                <span>Team</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureSource)
        </td>
    </tr>
}

</table>
