@model IEnumerable<Playground.Model.Player>

<table>
    <tr>
        <th>
            Game
        </th>
        <th>
            User
        </th>
        <th>
            Player
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompetitorID}) |
            @Html.ActionLink("Details", "Details", new { id=item.CompetitorID}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompetitorID})
        </td>
    </tr>
}
</table>
