@model Playground.Model.User

@{
    ViewBag.Title = "Profile";
}

<div class="tab-container">
    <ul class="tabs">
		<li class="selected">
			<a href="#tab1">Profile</a>
		</li>
		<li>
			<a href="#tab2">Player</a>
		</li>
		<li>
			<a href="#tab3">Matches</a>
		</li>
    </ul>
    <div id="tab1" class="tab-content tab-one">
        @using (Html.BeginForm("UpdateProfile", "User")) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.UserID);
            @Html.HiddenFor(m => m.ExternalUserID);
            <fieldset>
                <legend>User profile info</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.PistureSource)
                        @Html.TextBoxFor(m => m.PistureSource)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Gender)
                        @Html.DropDownListFor(model => model.Gender, (SelectList)ViewBag.Genders)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.EmailAddress)
                        @Html.TextBoxFor(m => m.EmailAddress)
                    </li>
                </ol>
                <input type="submit" value="Update profile" />
            </fieldset>
        }
    </div>
    <div id="tab2" class="tab-content tab-two">
        <h2>Players</h2>
        @Html.Partial("~/Views/Player/_ListPlayerPartial.cshtml", (List<Playground.Model.Player>)ViewBag.AllPlayerProfiles)
        @Html.ActionLink("Add player", "AddPlayer", "Player")
        <h2>Teams</h2>
        @Html.Partial("~/Views/Team/_ListTeamPartial.cshtml", (List<Playground.Model.Team>)ViewBag.AllTeams)
        @Html.ActionLink("Add team", "AddTeam", "Team")
    </div>
    <div id="tab3" class="tab-content tab-three">
        @Html.Partial("~/Views/Match/_ListMatchPartialEdit.cshtml", (List<Playground.Model.Match>)ViewBag.AllMatches)
        @Html.ActionLink("Add match", "Create", "Match")
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Components/Tabs.js")
}
